* {
    border: 1px solid red;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  border-style: none;
}

figure {
  margin: auto;
  overflow: hidden;
  border-style: none;
}

p {
  border-style: none;
}

img {
  border-style: none;
}

section {
  justify-content: space-evenly;
}

article {
  padding: 10px;
  border-style: none;
}

header {
  padding: 10px;
  border-style: none;
}

nav > ul {
  list-style: none;
  border-style: none;
  padding: 0;
  margin: auto;
  display: inline-flex;
}

nav > ul > li{
  margin: 5px;
  border-style: none;
}

.noborders{
  border-style: none;
}

.artigo {
  text-align: justify;
  width: 100%;
  padding: 20px;
  margin: 10px auto;
  border:2px solid #e9eff0;
}

.shadows{
  border-style: none;
  box-shadow: -1px 2px 16px 0px rgba(188,182,204,1);
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
