
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  background-color: #ffffff;
  text-align: justify;
  font-family: Roboto;
}

a {
  text-decoration: none;
  border-style: none;
}

hr {
  border:1px solid;
  background-color:#eef0f0;
  color:#e9eff0;
  height:1px;
  width:95%
}

figure {
  margin: auto;
  overflow: hidden;
  border-style: none;
}

p {
  border-style: none;
}

img {
  border-style: none;
}

section {
  flex-flow: row;
  background-color: #c7c8c9;
}

article {
  padding: 10px;
  border-style: none;
}

header {
  background-color: #fff;
}

header > figure > img {
  width: 10%;
}

footer {
  background-color: #fff;
}

ul {
  list-style: none;
}

#navbar {
  padding: 0;
  display: flow-root;
  background-color: #fcf9f9;
  /* display: flex; */
}

#navbar > ul {
  padding: 0;
  margin: 0;
  background-color: #fcf9f9;
  float: left;
}

#navbar > ul > li {
  display: inline-block;
  margin: 10px;
}
#navbar > ul > li :hover {
  /* background-color: #32c2f2; */
  color: #32c2f2;
}

#icones {
  float: right;
  margin: 10px;
}

#icones > a {
  margin: 5px;
}

#icones > a:visited {
  color: black;
}

#icones > a:hover {
  color: orange;
}


footer {
  justify-content: center;
}

#foot {
  color: #d4d6d8;
  justify-content: center;
  text-align: center;
}

a :visited {
  color: black;
}

.banner > figure > img {
  width: 100%;
}

.artigo {
  width: 100%;
  padding: 20px;
  margin: 10px auto;
  border:2px solid #e9eff0;
  background-color: #fff;
  border-radius: 0 15px 0 15px;
  overflow: hidden;
}

.artigo > figure > img {
  width: 100%;
}

.shadows{
  border-style: none;
  box-shadow: -1px 2px 16px 0px rgba(188,182,204,1);
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 900px) {
    section {
        flex-flow: row wrap;
    }
    .col-4{
      width: 50%;
    }
}

@media only screen and (max-width: 744px) {

    section{
      flex-flow: column;
    }
    .col-4{
      width: 100%;
    }
}
