*{
  border: 2px solid red;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.banner {
  padding: 0;
  margin-bottom: 20px;
  overflow: hidden;
  background-image: url("http://placekitten.com/1200/300");
}

.card {
  overflow: hidden;
}
